# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties

# IDEs
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
bin/

# macOS
.DS_Store

# Logs
*.log

# Compiled class files
*.class

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Docker (Optional, if you want to ignore mapped data)
data/
*.mkv
