version: '3'
services:
  peer1:
    build: .
    cap_add:
      - NET_ADMIN
    networks:
      - p2p_net
    volumes:
      - ./data/peer1:/data
    command: [ "java", "-jar", "app.jar", "--headless" ]

  peer2:
    build: .
    cap_add:
      - NET_ADMIN
    networks:
      - p2p_net
    volumes:
      - ./data/peer2:/data
    command: [ "java", "-jar", "app.jar", "--headless" ]

  peer3:
    build: .
    cap_add:
      - NET_ADMIN
    networks:
      - p2p_net
    volumes:
      - ./data/peer3:/data
    command: [ "java", "-jar", "app.jar", "--bot" ]

networks:
  p2p_net:
    driver: bridge
