version: '3'
services:
  peer1:
    build: .
    networks:
      - net_a
    volumes:
      - ./data/peer1:/data
    command: [ "java", "-jar", "app.jar", "--bot" ]

  peer2:
    build: .
    networks:
      - net_b
    volumes:
      - ./data/peer2:/data
    command: [ "java", "-jar", "app.jar", "--headless" ]

  relay:
    build: .
    networks:
      - net_a
      - net_b
    volumes:
      - ./data/relay:/data
    command: [ "java", "-jar", "app.jar", "--headless" ]

networks:
  net_a:
    driver: bridge
  net_b:
    driver: bridge
